{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="/static/assets/img/pages/password-reset.jpg">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="card shadow px-4 py-5">
                        <div class="card-header bg-white border-0 pb-0 text-center">
                            <h1 class="h1 mb-3">Reset Your Password.</h1>
                            <p class="mb-5 lead">
                                Forgot your password? Reset it here. <br> Enter the e-mail address associated with your
                                account to reset
                                your password. <br>A password reset link will be sent to the e-mail address provided if
                                it's
                                in our
                                system.
                            </p>
                        </div>
                        <div class="card-body pt-2 px-0 px-lg-7">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8">

                                    <form method="POST">
                                        {% csrf_token %}
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="id_email">E-mail Address</label>
                                            <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span
                                            class="fas fa-envelope"></span></span>
                                                <input type="email" name="email" autocomplete="email"
                                                       class="form-control"
                                                       placeholder="example@company.com"
                                                       required id="id_email">
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">RESET PASSWORD</button>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                Go back to the
                                <a href="{% url 'accounts:login' %}" class="fw-bold text-underline">LOGIN PAGE</a>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
