{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="/static/assets/img/pages/password-reset.jpg">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="card shadow px-4 py-5">
                        <div class="card-header bg-white border-0 pb-0 text-center">
                            <h1 class="h1 mb-3">Reset Your Password.</h1>

                        </div>
                        <div class="card-body pt-2 px-0 px-lg-7">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8">

                                    <form method="POST">
                                        {% csrf_token %}
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="id_new_password1">New Password</label>
                                            <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span
                                            class="fas fa-lock"></span></span>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control"
                                                       required id="id_new_password1">
                                            </div>
                                        </div>

                                        <span class="help-block">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                            </span>

                                        <div class="form-group mb-4">
                                            <label for="id_new_password2">New Password Confirmation</label>
                                            <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span
                                            class="fas fa-lock"></span></span>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       class="form-control"
                                                       required id="id_new_password2">
                                            </div>
                                        </div>

                                        <!-- End of Form -->
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">RESET PASSWORD</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
